# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pixie Dust
2. Pandas
3. NumPy
4. TensorFlow

| Data Science Tools |
|--------------------|
| Google Collab |
| VS Code |
| JupyterLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3 * 4) + 5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
(200 / 60) #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Natale Cava√ßana