# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular Libraries for Data Science
- Produce a table with tools for Data Science
- Show some examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. NumPy
4. TensorFlow
5. Apache Spark

| Data Science Tools |
|--------------------|
| Anaconda |
| VS Code |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Natale Cava√ßana

https://github.com/Nanenta/datasciencecourseracourse/blob/c76fbb233887211c4161bafde76efb2c58fd1bc2/DataScienceEcosystem.ipynb